button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.hoverBackgroundButton {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.hoverBackgroundButton:hover {
    background-color: rgba(29, 29, 29, 0.1);
}

/* Header white mode styling */
.header-white-mode {
    color: #333;
}

/* Change logo colors for white mode */
.logo-white-mode svg path {
    fill: #5334ea; /* This assumes the SVG has paths with fill attributes */
}

/* Update hover effect for white mode */
.header-white-mode .hoverBackgroundButton:hover {
    background-color: rgba(200, 200, 200, 0.3);
}

